@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap');

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#home {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-color: #fa88b1;
    overflow: hidden;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-color: #ffde59;
    overflow: hidden;
    background-image: url(./images/aboutBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#showPrint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-color: #fa88b1;
    overflow: hidden;
}

.homeContent {
    position: relative;
    left: 100px;
    bottom: 750px;
    z-index: 2;
}

.printContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0px;
}

.printCard {
    width: 300px;
    text-align: center;
}

.printContainer img {
    width: 250px;
    height: 250px;
    background-color: white;
}

.bigHeader {
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
    font-style: italic;
    font-size: 150px;
}

.smallHeader {
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
    font-size: 80px;
}

.subHeader {
    margin: 20px 30px;
    padding: 0px;
    font-size: 20px;
}

.underline {
    margin: 0px;
    padding: 0px;
    width: 500px;
    height: 70px;
}

.backgroundFruit {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    z-index: 1;
    position: relative;
    left: 90%;
    top: 0px;
    transition: transform 1s linear;
}

.pink {
    margin: 30px;
    padding: 10px 30px;
    background-color: #fa88b1;
}

.capital {
    text-transform: uppercase;
}

.fifty {
    width: 50%;
    text-align: center;
}