@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap");

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    color: white;
    scroll-behavior: smooth;
    overflow: overlay
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0, 0.2);
}

html::-webkit-scrollbar-thumb {
    background-color: white
}

nav {
    position: fixed;
    padding: 0px;
    margin: 30px 10px;
    width: 600px;
    z-index: 5;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-transform: uppercase;
}

ul li {
    display: inline;
}

nav a {
    padding: 10px 20px;
    width: 100%;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: background-color 0.5s;
}

nav a:hover {
    color: white !important;
    background-color: #fa88b1;
}

nav a:visited {
    text-decoration: none;
    color: black;
}

footer {
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
    background-color: #ffde59;
    text-align: center;
}

#home {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #fa88b1;
    overflow-x: hidden;
}

#about {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #ffde59;
    overflow: hidden;
    background-image: url(./images/aboutBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#showPrint {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #fa88b1;
    overflow: hidden;
}

#customPrint {
    position: relative;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #ffde59;
    overflow: hidden;
}

#contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #fa88b1;
    background-image: url(./images/contactBackground.png);
    overflow: hidden;
}

.homeContent {
    margin-left: 100px;
    z-index: 2;
}

.printContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0px;
}

.printCard {
    width: 300px;
    text-align: center;
}

.printContainer img {
    width: 250px;
    height: 250px;
    background-color: white;
}

.contactContent {
    margin: 0px;
    padding: 0px;
    margin-right: 100px;
}

.contactContent p {
    margin-bottom: 30px;
}

.bigHeader {
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
    font-style: italic;
    font-size: 150px;
}

.smallHeader {
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
    font-size: 80px;
}

.subHeader {
    margin: 20px 30px;
    padding: 0px;
    font-size: 20px;
}

.underline {
    margin: 0px;
    padding: 0px;
    width: 500px;
    height: 70px;
}

.rightBigFruit {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    z-index: 1;
    position: absolute;
    left: 90%;
    transition: left 1s linear;
}

.leftBigFruit {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    z-index: 1;
    position: absolute;
    right: 90%;
    transition: right 1s linear;
}

.pink {
    margin: 30px 0px;
    padding: 10px 30px;
    background-color: #fa88b1;
}

.yellow {
    margin: 30px 0px;
    padding: 10px 30px;
    background-color: #ffde59;
}

.capital {
    text-transform: uppercase;
}

.blackFont {
    color: black;
}

.fifty {
    width: 50%;
    text-align: center;
}

.centerRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.noSpacing {
    margin: 0px;
    padding: 0px;
}

/*Animation class*/
.hidden {
    transition: opacity 1s ease-in;
    opacity: 0;
}

.fadeIn {
    transition: opacity 1s ease-in;
    opacity: 1;
}

.slideRight {
    right: 60%
}

.slideLeft {
    left: 60%
}