@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap');

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

#home {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-color: #fa88b1;
    overflow: hidden;
}

#about {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-color: #ffde59;
}

.homeContent {
    position: relative;
    left: 100px;
    bottom: 750px;
    z-index: 2;
    color: white;
    text-transform: uppercase;
}

.header {
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
    font-style: italic;
    font-size: 150px;
}

.subheader {
    margin: 20px 30px;
    padding: 0px;
    font-size: 20px;
}

.underline {
    margin: 0px;
    padding: 0px;
    width: 30%;
    height: 70px;
}

.backgroundFruit {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    z-index: 1;
    position: relative;
    left: 55%;
    top: 0px
}